h1 {
    text-align: center;
    color: red;
}
.container {
    display: grid;
    grid-template-columns: auto auto auto;
   float: center;
   justify-content:center;

} 




div.galerija {
    margin: 5px;
    border: 1px;
    float: left;
   width: 180px;
  }
  div.galerija img {
    width: 100%;
    height: auto;

  }
  div.opis {
    padding: 2px;
    text-align: left;
    font-size: 8px;
  }
h2{
    text-align: left;
    color: blue;
    font-size: 9px;
}
