h1 {
    text-align: center;
    color:red;
}
.container {
    display: grid;
    grid-template-columns: 240px 240px 240px;
    grid-template-rows: 240px 240px 240px;
   float: center;
   justify-content:center;

} 




div.galerija {
    margin: 5px;
    border: 1px;
    float: left;
   width: 180px;
  }
  div.galerija img {
    width: 100%;
    height: auto;

  }
  div.opis {
    padding: 2px;
    text-align: left;
    font-size: 8px;
  margin: auto;
  }
h2{
    text-align: left;
    color:lightblue;
    font-size: 9px;
}
